<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <h5>Personal Details :</h5>

    <div class="main" style="justify-content: space-between; display: flex;">

      <div class="first-row" style="width:90px">

        <div class="field">
          <label htmlFor="name1">First Name</label>
          <input pInputText id="name1" type="text" />
        </div>
        <div class="field">
          <label htmlFor="email1">Last Name</label>
          <input pInputText id="name2" type="text" />
        </div>
        <div class="field">
          <label htmlFor="age1">Email</label>
          <input pInputText id="email1" type="text" />
        </div>
        <div class="field">
          <label htmlFor="age1">Password</label>
          <input pInputText id="pass1" type="text" />
        </div>
      </div>
      <br>

      <div class="second-row">

        <div class="field">
          <label htmlFor="age1">Mobile Number</label>
          <input pInputText id="Mobile-no" type="number" />
        </div>
        <div class="field">
          <label htmlFor="age1">Aadhar Number</label>
          <input pInputText id="aadhar-no" type="text" />
        </div>
        <div class="field">
          <label htmlFor="age1">PAN Number</label>
          <input pInputText id="pan-no" type="text" />
        </div>
      </div>
      <br>

      <div class="third-row">

        <div class="field">
          <label htmlFor="age1">GST Number</label>
          <input pInputText id="gst-no" type="text" />
        </div>
        <div class="field">
          <label htmlFor="age1">User Type</label>
          <input pInputText id="type" type="text" />
        </div>
        <div class="field">
          <label htmlFor="age1">Shop unique id</label>
          <input pInputText id="shop-unique-id" type="text" />
        </div>
        <div class="field">
          <label htmlFor="age1">Registration ID</label>
          <input pInputText id="registrationId" type="text" />
        </div>
      </div>
      <br>

      <div class="fourth-row">

        <div class="field">
          <label htmlFor="age1">Date of birth</label>
          <input pInputText id="dob" type="date" />
        </div>
        <div class="field">
          <label htmlFor="age1">Gender</label>
          <input pInputText id="gender1" type="text" />
        </div>

      </div>
    </div>
  </div>
</div>
