<app-main></app-main>
<div class="col-12 md:col-6">


  <div class="card p-fluid">
    <h5 style="margin-bottom: 30px;">Personal Details :</h5>

    <div class="main" style="justify-content: space-between; display: flex;">

      <div class="first-col">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="first-name" pInputText (ngModel)="firstName">
            <label for="inputtext">First Name</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="mobile-no" pInputText (ngModel)="mobileNo">
            <label for="inputtext">Mobile Number</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <p-calendar inputId="calendar" (ngModel)="dob"></p-calendar>
            <label for="calendar">Calendar</label>
          </span>
        </div>
      </div>
      <br>

      <div class="second-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="Last-name" pInputText (ngModel)="lastName">
            <label for="inputtext">Last Name</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="aadharNo" pInputText (ngModel)="aadharNo">
            <label for="aadharNo">Aadhar Number</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="panNo" pInputText (ngModel)="panNo">
            <label for="panNo">PAN Number</label>
          </span>
        </div>
      </div>
      <br>

      <div class="third-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="email" pInputText (ngModel)="email">
            <label for="email">Email</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="shopUniqueNo" pInputText (ngModel)="shopUniqueNo">
            <label for="shopUniqueNo">Shop Unique Number</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="registrationId" pInputText (ngModel)="registrationId">
            <label for="registrationId">Registration Id</label>
          </span>
        </div>
      </div>
      <br>

      <div class="fourth-row">

        <div class="field">
          <span class="p-float-label">
            <p-password inputId="password" (ngModel)="password"></p-password>
            <label for="password">Password</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="gstNo" pInputText (ngModel)="gstNo">
            <label for="gst">GST Number</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="gender" (ngModel)="value8"
              optionLabel="name"></p-dropdown>
            <label for="gender">Gender</label>
          </span>
        </div>

      </div>
    </div>

    <!-------- Address---------->
    <br>


    <h5 style="margin-bottom: 30px;">Address:</h5>
    <div class="second-page" style="justify-content: space-between; display: flex;">
      <div class="add-1">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="line1" pInputText (ngModel)="line1">
            <label for="line1">Line 1</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="email" pInputText (ngModel)="landMark">
            <label for="LandMark">Landmark</label>
          </span>
        </div>

      </div>

      <div class="add-2">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="line2" pInputText (ngModel)="line2">
            <label for="line2">Line 2</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="pinCode" pInputText (ngModel)="pinCode">
            <label for="pinCode">Pincode</label>
          </span>
        </div>

      </div>

      <div class="add-3">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="country" pInputText (ngModel)="country">
            <label for="country">Country</label>
          </span>
        </div>

        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="city" pInputText (ngModel)="city">
            <label for="city">City</label>
          </span>
        </div>

      </div>

      <div class="add-4">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="state" pInputText (ngModel)="state">
            <label for="state">State</label>
          </span>
        </div>

        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="regionCode" pInputText (ngModel)="regionCode">
            <label for="regionCode">Region Code</label>
          </span>
        </div>

      </div>

    </div>

    <!-------- Address---------->

  </div>
  <p-button [routerLink]="['/sign-up/business']" style="float: right" label="Next" icon="pi pi-arrow-right"
    iconPos="right"></p-button>

</div>
