<app-main></app-main>
<div class="shop-nav col-12 md:col-6">


  <div class="card p-fluid">
    <h5 style="margin-bottom:50px; font-family: sans-serif;">Business Details:</h5>

    <div class="main" style="justify-content: space-evenly; display: flex; ">

      <div class="first-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="businessName" style="font-family: sans-serif;">
            <label for="inputtext" style="font-family: sans-serif;">Business Name</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="businessType">
            <label for="inputtext" style="font-family: sans-serif;">Business Type</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="businessCategory">
            <label for="inputtext" style="font-family: sans-serif;">Business Category</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="aadhaarNo">
            <label for="inputtext" style="font-family: sans-serif;">Aadhaar No</label>
          </span>
        </div>
      </div>
      <br>



      <div class="second-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="panNo">
            <label for="inputtext" style="font-family: sans-serif;">PAN No</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="mobileNo">
            <label for="inputnumber" style="font-family: sans-serif;">Mobile No</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="gstNo">
            <label for="inputnumber" style="font-family: sans-serif;">GST No</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="regNo">
            <label for="inputnumber" style="font-family: sans-serif;">Reg No</label>
          </span>
        </div>
      </div>
      <br>


      <div class="third-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="cinNo">
            <label for="inputnumber" style="font-family: sans-serif;">CIN No</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="line1">
            <label for="inputnumber" style="font-family: sans-serif;">Line1</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="line2">
            <label for="inputnumber" style="font-family: sans-serif;">Line2</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="state">
            <label for="inputnumber" style="font-family: sans-serif;">State</label>
          </span>
        </div>
      </div>
      <br>



      <div class="forth-row">
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="district">
            <label for="inputnumber" style="font-family: sans-serif;">District</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="city">
            <label for="inputnumber" style="font-family: sans-serif;">City</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="pincode">
            <label for="inputnumber" style="font-family: sans-serif;">Pincode</label>
          </span>
        </div>
      </div>

    </div>
  </div>

  <p-button [routerLink]="['/sign-up/kyc']" style="float: right" label="Next" icon="pi pi-arrow-right" iconPos="right">
  </p-button>

</div>
