<div class="shop-nav col-12 md:col-6">
  <app-main></app-main>
  <br>
  <div class="card p-fluid">
    <h5 style="margin-bottom:50px;">Business Details :</h5>

    <div class="main" style="justify-content: space-between; display: flex; ">

      <div class="first-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="businessName">
            <label for="inputtext">Business Name</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="businessType">
            <label for="inputtext">Business Type</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="businessCategory">
            <label for="inputtext">Business Category</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="aadhaarNo">
            <label for="inputtext">Aadhaar No</label>
          </span>
        </div>
      </div>
      <br>



      <div class="second-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="panNo">
            <label for="inputtext">PAN No</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="mobileNo">
            <label for="inputnumber">Mobile No</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="gstNo">
            <label for="inputnumber">GST No</label>
          </span>
        </div>
        <br>
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="regNo">
            <label for="inputnumber">Reg No</label>
          </span>
        </div>
      </div>
      <br>


      <div class="third-row">

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="cinNo">
            <label for="inputnumber">CIN No</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="line1">
            <label for="inputnumber">Line1</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="line2">
            <label for="inputnumber">Line2</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="state">
            <label for="inputnumber">State</label>
          </span>
        </div>
      </div>
      <br>



      <div class="forth-row">
        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="district">
            <label for="inputnumber">District</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="city">
            <label for="inputnumber">City</label>
          </span>
        </div>
        <br>

        <div class="field">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText (ngModel)="pincode">
            <label for="inputnumber">Pincode</label>
          </span>
        </div>
      </div>

    </div>
  </div>

  <p-button [routerLink]="['/sign-up/kyc']" style="float: right" label="Next" icon="pi pi-arrow-right" iconPos="right">
  </p-button>

</div>
