<div class="card p-fluid">
  <h5 style="margin-bottom: 50px;">Plan Details :</h5>

  <div class="main" style="justify-content: space-between; display: flex;">

    <div class="first-col">
      <div class="field">
        <span class="p-float-label">
          <input type="text" id="name" pInputText (ngModel)="name">
          <label for="inputtext">Name</label>
        </span>
      </div>
      <br>

      <div class="field">
        <span class="p-float-label">
          <input type="number" id="installmentAmt" pInputText (ngModel)="installmentAmt">
          <label for="inputtext">Installment Amount</label>
        </span>
      </div>
      <br>
      <div class="field">
        <span class="p-float-label">
          <input type="text" id="maturityAmt" pInputText (ngModel)="maturityAmt">
          <label for="inputtext">Maturity Amount</label>
        </span>
      </div>
      <br>
      <div class="field">
        <span class="p-float-label">
          <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="type" (ngModel)="type"
            optionLabel="name"></p-dropdown>
          <label for="type">Type</label>
        </span>
      </div>
      <br>
      <div class="field">
        <span class="p-float-label">
          <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="duration" (ngModel)="duration"
            optionLabel="name"></p-dropdown>
          <label for="duration">Duration (in months)</label>
        </span>
      </div>
    </div>
    <br>

  </div>

</div>
<p-button [routerLink]="['/plans']" style="width: 20px;" label="Submit"></p-button>
