<div class="btn" style="margin-left: 93.5%;">
  <button pButton pRipple type="button" label="Add+" class="p-button-raised" [routerLink]="['/banks/add']"
    style="border-radius: 10px; margin-bottom: 5px;"></button>
</div>
<p-table [value]="products" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="caption">
    List of Banks
  </ng-template>

  <ng-template pTemplate="header">

    <tr>
      <th>Id</th>
      <th>Acc no</th>
      <th>Name</th>
      <th>IFSC</th>

      <th>Bank Name</th>
      <th>Branch Name</th>
      <th>PinCode</th>
      <th>Contact</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.id}}</td>
      <td>{{product.accountNo}}</td>
      <td>{{product.accountHolderName}}</td>
      <td>{{product.ifsc}}</td>

      <td>{{product.bankname}}</td>

      <td>{{product.branch}}</td>

      <td>{{product.zipCode}}</td>
      <td>{{product.contact}}</td>

    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Footer
  </ng-template>
</p-table>
