<app-main></app-main>

<p>kyc-details works!</p>
<div class="kyc" style="display: flex; justify-content: space-evenly;">

  <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
    (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Upload Aadhar Card"></p-fileUpload>

  <br>
  <div class="field">
    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
      (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Upload PAN Card"></p-fileUpload>
  </div>
  <br>
  <div class="field">
    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
      (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Voter ID Card"></p-fileUpload>
  </div>

</div>
