<app-main></app-main>
<div class="heading">

  <h1>
    KYC Details
  </h1>
</div>
<div class="kyc" style="display: flex; justify-content: space-evenly;">

  <p-button [routerLink]="['/sign-up/bank']" style="float: right" label="Prev" icon="pi pi-arrow-left" iconPos="right">
  </p-button>
  <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
    (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Upload Aadhar Card"></p-fileUpload>

  <br>
  <div class="field">
    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
      (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Upload PAN Card"></p-fileUpload>
  </div>
  <br>
  <div class="field">
    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
      (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Voter ID Card"></p-fileUpload>
  </div>
  <p-button [routerLink]="['/']" style="float: right" label="Submit" icon="pi pi-arrow-right" iconPos="right">
  </p-button>

</div>
